
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  >div:nth-child(3) {
    width: 100%;
    flex: 0 0 100%;
    max-width: 500px;


  }

  &.sm {
    >div:nth-child(3) {
      max-width: 450px;
    }

    .modal-content {

      &__wrapper {
        max-width: 450px;
        min-height: 150px;
        max-height: 400px;

        @include responds-to('large') {
          max-height: 600px;

        }
      }
    }
  }

  &.lg {
    >div:nth-child(3) {
      max-width: 800px;
    }

    .modal-content {

      &__wrapper {
        max-width: 800px;
        min-height: 300px;
        max-height: 80vh;

        @include responds-to('large') {
          max-height: 90vh;

        }
      }
    }
  }

  .modal-content {
    padding: 16px;

    @include responds-to('large') {
      padding: 24px;

    }

    width: 100%;
    background-color: $color-white;
    border-radius: 4px;

    &__wrapper {
      overflow: auto;
      height: 100%;
    }
  }
}
