.modal-message {
  .modal-content {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__content {
      line-height: 1.3;
      padding: 24px 0;
    }

    &__title {
      font-weight: 600;
    }
  }
}
