.taskStatus {
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  &__create {
    text-align: right;
    padding: 16px;
  }
  &__title {
    position: relative;
    padding: 32px;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      cursor: pointer;
      font-size: 2rem;
    }
  }
  &__content {
    .droppable-row {
      width: 100%;
      display: grid;
      height: 100%;
      padding: 10px 10px 0 10px;
      transition: 0.3s;
      gap: 16px;
      &.dragging {
        background-color: $color-periwinkle-gray;
      }
    }
    .item {
      margin-bottom: 10px;
      background-color: $color-white;
      color: $color-black;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      padding: 8px;
      border-radius: 7px;
      font-size: 1.5rem;
      font-weight: 500;
      &__remove {
        text-align: right;
        cursor: pointer;
      }
      &__name {
        text-align: center;
        padding: 16px 0 32px;
      }
    }
  }
}
