.createTaskForm {
  h1 {
    font-size: 1.6rem;
    padding-bottom: 16px;
  }
  .form {
    &__field {
      padding: 8px 0;
    }
    &__submit {
      text-align: right;
      margin-top: 16px;
    }
  }
}
