.home {
  height: 100vh;
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 32px 0;
  }
  &__taskStatus,
  &__create {
    text-align: right;
    padding: 16px;
  }
  &__content {
    display: grid;
    width: 100%;
    gap: 16px;
  }
  .column {
    // width: 30%;
    background-color: $color-grey-8;
    display: flex;
    flex-direction: column;
    h3 {
      color: $color-grey-9;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.875rem;
      margin-bottom: 8px;
      padding: 10px 10px 0 10px;
    }
  }
  .droppableWrapper {
    flex: 1;
  }
  .droppable-col {
    width: 100%;
    display: flex;
    height: 100%;
    padding: 10px 10px 0 10px;
    flex-direction: column;
    transition: 0.3s;
    &.dragging {
      background-color: $color-periwinkle-gray;
    }
  }
  .item {
    margin-bottom: 10px;
    background-color: $color-white;
    color: $color-black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 8px;
    border-radius: 7px;
  }
}
