.modal-message {
  .modal-content {
    position: relative;
    &__close {
      position: absolute;
      right: 16px;
      top: 16px;
      cursor: pointer;
      svg {
        font-size: 2rem;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__content {
      line-height: 1.3;
      padding: 24px 0;
    }

    &__title {
      font-weight: 600;
    }
  }
}
